@import "reset";
@import "fonts/fonts";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

html {
  scroll-behavior: smooth;
}

* {
  // background: red;
}

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--text-primary-color);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
  scroll-behavior: smooth;
}

.content {
  width: 100%;
  margin: 0 auto;
  max-width: 1900px;
  display: flex;
  position: relative;
}

.page-wrapper {
  width: 100%;
  flex-grow: 1;
}

.main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.roaster-page {
  padding: 120px 2.5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: var(--tertiary-color);
}