@import "reset";
@import "fonts/fonts";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

* {
  //background: red;
}

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}