.Lead {
  width: 100%;
  min-height: 100vh;
  padding: 20px 20px 50px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.Lead::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, transparent 25%,rgb(0 0 0 / 45%) 50%, #000);
}