@keyframes animButton {
  to {
   padding: 20px 40px;
  }
}

.Button {
  padding: 0;
  margin: 0;
  font: var(--font-s);
  font-weight: var(--font-weight-s);
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  &_clear {
    outline: none;
  }

  &_poz_menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_poz_news {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    background-color: var(--inverted-bg-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    z-index: 2;
  }

  &_poz_game {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
  }

  &_poz_lead {
    width: 180px;
    height: 60px;
    color: var(--text-tertiary-color);
    background-color: inherit;
    border: .7px solid var(--tertiary-color);
    border-radius: 10px;
    position: relative;
    transition: 1s ease-in-out;
    overflow: hidden;
  }
}
