.Game {
  padding: 10px;
  width: var(--game-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-color);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  transform: translateX(calc(100% - var(--game-width)) / 2);
  border-radius: 10px;

  &__title {
    font: var(--font-s);
    font-weight: var(--font-weight-s);
    color: var(--text-secondary-color);
  }

  &__gameContainer {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__teamImage {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__score {
    font: var(--font-l);
    font-weight: var(--font-weight-s);
    color: var(--text-secondary-color);
  }

  &__statIcon {
    fill: var(--secondary-color);
    width: 30px;
    height: 30px;
  }
}