.SectionTitle {
  font: var(--font-l);
  font-weight: var(--font-weight-xl);
  color: var(--text-primary-color);
  letter-spacing: 1.4px;
  text-transform: uppercase;

  &_clear {
    text-transform: none;
  }

  &_poz_main {
    color: var(--text-primary-color);
    text-transform: uppercase;
  }

  &_poz_roaster {
    color: var(--text-quatrenary-color);
  }

}