.Player {
  width: 100%;
  max-width: 400px;
  justify-self: center;
  display: grid;
  grid-template-columns: var(--surname-width) 1fr;
  border-bottom: 2px solid var(--quatrenary-color);

  &__description {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 5px;
  }

  &__number {
    display: flex;
    color: var(--tertiary-color);
    font: var(--font-xl);
    font-size: 100px;
    line-height: 1;
    font-weight: var(--font-weight-xl);
    text-shadow:
            1px 1px 0 var(--quatrenary-color),
            -1px 1px 0 var(--quatrenary-color),
            1px -1px 0 var(--quatrenary-color),
            -1px -1px 0 var(--quatrenary-color);
  }

  &__name {
    color: var(--quatrenary-color);
    font: var(--font-s);
    font-weight: var(--font-weight-m)
  }

  &__surname {
    color: var(--quatrenary-color);
    font: var(--font-m);
    font-weight: var(--font-weight-xl);
    text-transform: uppercase;
  }

  &__position {
    color: var(--quatrenary-color);
    font: var(--font-s);
    font-weight: var(--font-weight-m);
  }

  &__image {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1/1;
    display: flex;
    place-self: flex-end flex-end;
  }
}



