@keyframes anim-lead-button {
  to {
    stroke-dashoffset: -480;
  }
}

.Lead {
  width: 100%;
  min-height: 100dvh;
  padding: 20px 20px 40px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 2;
  }

  &__title {
    text-align: center;
    font: var(--font-l);
    font-weight: var(--font-weight-xl);
    color: var(--text-tertiary-color);
    letter-spacing: 1px;
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: var(--tertiary-color);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
    animation: anim-lead-button 3s ease-in-out infinite alternate;
  }

  &__line {
    stroke: var(--tertiary-color);
  }

}

.Lead::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, transparent 25%,rgb(0 0 0 / 45%) 50%, #000);
}