.app.dark {
  --bg-color: #041c65;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #e8e8ea;
  --secondary-color: #041c65;
  --tertiary-color: #fff;
  --quatrenary-color: #041c65;

  --text-primary-color: #e8e8ea;
  --text-secondary-color: #041c65;
  --text-tertiary-color: #fff;
  --text-quatrenary-color: #041c65;
}