.app.light {
  // --bg-color: #e8e8ea;
  // --inverted-bg-color: #041c65;
  // --primary-color: #041c65;
  // --secondary-color: #e8e8ea;
  --bg-color: #041c65;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #e8e8ea;
  --secondary-color: #041c65; // костыль
}