.Navbar {
  position: fixed;
  top: 10px;
  width: 95%;
  min-height: var(--navbar-height);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--inverted-bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 15px;
  z-index: 10;
}

.ticket {
  fill: var(--secondary-color)
}

.links {
  display: flex;
  gap: 10px;
}