.Navbar {
  width: 95%;
  min-height: var(--navbar-height);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background-color: var(--inverted-bg-color);
}

.ticket {
  fill: var(--secondary-color)
}

.links {
  display: flex;
  gap: 10px;
}