.Navbar {
  padding: 5px 10px;
  width: 95%;
  min-height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 5px;
  z-index: 3;
  background-color: var(--inverted-bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  transition: 1s ease;

  &__logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  &__ticket {
    cursor: pointer;
    fill: var(--secondary-color)
  }
}