.Person {
  padding: 20px 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  background-color: #fff;
  border-bottom: 2px solid var(--secondary-color);

  &__description {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__number {
    display: flex;
    color: var(--primary-color);
    font: var(--font-l);
    font-size: 100px;
    line-height: 1.2;
    font-weight: 600;
    text-shadow:
            1px 1px 0 var(--secondary-color),
            -1px 1px 0 var(--secondary-color),
            1px -1px 0 var(--secondary-color),
            -1px -1px 0 var(--secondary-color);
  }

  &__name {
    color: var(--secondary-color);
    font: var(--font-m);
  }

  &__surname {
    color: var(--secondary-color);
    font: var(--font-l);
    font-weight: 600;
    text-transform: uppercase;
  }

  &__position {
    color: var(--secondary-color);
    font: var(--font-m);
  }

  &__image {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1/1;
    display: flex;
    place-self: flex-end flex-end;
  }
}



