.Coach {
  width: 100%;
  display: grid;
  grid-template-columns: var(--surname-width) 1fr;
  border-bottom: 2px solid var(--quatrenary-color);

  &__description {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 5px;
  }

  &__name {
    color: var(--quatrenary-color);
    font: var(--font-s);
    font-weight: var(--font-weight-m)
  }

  &__surname {
    color: var(--quatrenary-color);
    font: var(--font-m);
    font-weight: var(--font-weight-xl);
    text-transform: uppercase;
  }

  &__post {
    color: var(--quatrenary-color);
    font: var(--font-s);
    font-weight: var(--font-weight-m);
  }

  &__image {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1/1;
    display: flex;
    place-self: flex-end flex-end;
  }
}