@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.News {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
  width: 300px;
  aspect-ratio: 1/1.3;
  padding: 5px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 4px 0 var(--primary-color)
}

.descriptionContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.descriptionContainer_clear {
  padding: 0;
  gap: 0;
}


.wideImage {
  aspect-ratio: 1.8/1;
  z-index: 4;
}

.description {
  //height: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font: var(--font-m);
  color: var(--secondary-color);
  z-index: 2;
  //display: -webkit-box;
  //-webkit-line-clamp: 4; /* номер строки где указывается троеточие */
  //-webkit-box-orient: vertical;
}

.ballIcon {
  fill: var(--secondary-color);
  width: 25px;
  height: 25px;
  animation: rotate 3s linear infinite;
}