@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.News {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
  width: 300px;
  aspect-ratio: 1/1.3;
  padding: 15px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 4px 0 var(--primary-color)
}

.News::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.2));

}

.wideImage {
  aspect-ratio: 1.8/1;
  z-index: 4;
}

.description {
  //height: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font: var(--font-m);
  color: #e8e8ea;
  z-index: 2;
  //display: -webkit-box;
  //-webkit-line-clamp: 4; /* номер строки где указывается троеточие */
  //-webkit-box-orient: vertical;
}

.ballIcon {
  fill: var(--secondary-color);
  width: 25px;
  height: 25px;
  animation: rotate 3s linear infinite;
}